.chat__header{
	display: flex;
	min-width: 320px;
	justify-content: space-around;
	align-items: center;
}
body{
	font-family: 'Lato', sans-serif;

}
.chat{
	width: 350px;
	margin: 0 auto;

}
.chat__header-content{
	display: flex;

}
.chat__header-h4{
	font-size: 26px;
}
.chat__header-avatars{
	height: 20px;
	padding: 10px 7px 0 7px;
}
.chat__header-colown{
	display: flex;
	flex-direction: column;
}
.chat__header-h4{
	margin: 0;
	margin-top: 10px;
	font-size: 16px;
	white-space: nowrap;
}
.chat__header-icons{
	height: 20px;
	margin: 0 5px 0 5px;
}
.site{
	display: flex;
}
.chat__masage{
	background: #f8fafd;
	height: auto;
	margin: 0 auto;
	height: auto;
}
.chat__masage-content{
	padding: 20px;
}
.chat__masage-avatar1{
	height: 25px;
}
.chat__masage-name{
	margin: 0;
	padding: 5px 0 0 15px;
}
.chat__masage-time{
	margin: 0;
	padding: 5px 0 0 45px;
	color: grey;
}
.chat__masage-avatars{
	display: flex;
	margin-top: 20px;
}
.chat__masage-blue_masage{
	background: #5965DB;
	padding: 10px;
	max-width: 70%;
	display: inline-block;
    color: white;
    border-radius: 7px;
    margin-top: 5px;

   
}
.chat__masage-grey{
	display: flex;
	background: #EAEFF4;
	border-radius: 7px;
	padding: 10px;
	justify-content: flex-end;
	margin-left: auto;
	max-width: 70%;
}
.chat__masage-time2{
	color: grey;
	display: flex;
	justify-content: flex-end;
	margin: 0 20px 0 0;
}
.chat__input_zone{
	display: flex;
	margin: 0 auto;
	padding: 20px 0 0 35px;
	justify-content: space-between;
}
.chat__input_zone-userpics{
	padding: 10px;
}
.chat__input_zone-input{
	width: 100%;
	border: 0; 
}
.chat__input_zone-icons{
	display: flex;
	align-items: center;
}
.dialogues{
	display: none;
}

@media (min-width: 768px){
	.chat{
		width: 750px;
		margin-left: 0; 
	}
	.chat__header-colown{
		flex-direction: row;
		flex-grow: 1;

	}
	.chat__header{
		justify-content: space-between;

	}
	.chat__header-content{
		flex-grow: 1;
	}
	.chat__header-icons{
		display: block;
		height: auto;
	}
	.chat__header-menu{
		display: flex;
		align-items: center;
	}
	.dialogues{
	    width: 340px;
	    display: block;
	}
	.dialogues__content{
		padding: 10px;
		padding-top: 0;
	}
	.site{
	display: flex;
	flex-direction: row-reverse;
	}
	.dialogues__header{
		display: flex;
		justify-content: space-around;
	}
	.header__new_massage{
		padding: 5px;
		background: #ebedfb;
		color: #5965db;
		border-radius: 7px;
		height: 16px;
		margin-top: 5px;
	}
	.header__new_massage-text{
		margin: 0;
	}
	.dialogues__header-h5{
		margin: 10px 0 0 0;
	}
	.dialogues__header-stick{
		position: relative; 
		right: 20px;
	}
	.dialog__avatar2{
		position: relative;
		right: 23px;
		top: 15px;
	}
	.dialogues__chats-diolog{
		display: flex;
		margin-top: 22px;
		border-bottom: 1px solid #EAEDF3;
		padding-bottom: 16px;

	}
	.dialog__text-massage{
		max-width: 190px;
		margin: 4px 0 0 0;
		font-size: 15px;
	}
	.dialog__text-header{
		margin: 0;
		font-size: 15px;
	}
	.dialog__time{
		font-size: 12px;
		margin: 0 6px 0 0;
		color: grey;
	}
	.dialog__ball{
		width: 15px;
		height: 15px;
		background: #E62D2D;
		border-radius: 50%;
		font-size: 9px;
		margin: 22px 0 0 17px;
		text-align: center;
		color: white;
	}
	.dialog__ball-text{
		padding: 1px 0 0 0;

	}
	.dialog__stick{
		position: relative;
		right: 20px;
	}
	.dialogues__chats-diolog2{
		display: flex;
		margin-top: 15px;

	}
	.dialog2__background{
		background: #F6F9FF;
		width: 320px;
		height: 100px;
		display: flex;
		align-items: center;
		margin-left:  -20px;
		padding-left: 20px;
	}
	.dialog5__avatar1{
		margin-right: 40px;
	}
	.dialog__check_marks{
		margin: 22px 0 0 17px;
	}
	.tablet-version{
		margin: 0 auto;
		display: flex;
		flex-direction: row-reverse;
	}
	.dialog2__stick1{
		position: relative;
		right: 20px;
		top: 4px;
	}
	.dialog2__stick2{
		position: relative;
		right: 20px;
		bottom: 15px;
	}


}

