.chat__header{
	display: flex;
	min-width: 320px;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #EAEDF3;
	padding: 0 0 5px 25px;

}
.message__holder {
    display: flex;
    flex-direction: column;
}
body{
	font-family: 'Lato', sans-serif;
	margin: 0;

}
.chat{
	width: 350px;
	margin: 0 auto;
	order: 2;
	display: flex;
	flex-direction: column;

}
.chat__header-content{
	display: flex;

}
.chat__header-h4{
	font-size: 26px;
}
.chat__header-avatars{
	height: 20px;
	padding: 10px 7px 0 7px;
}
.chat__header-colown{
	display: flex;
	flex-direction: column;
}
.chat__header-h4{
	margin: 0;
	margin-top: 10px;
	font-size: 16px;
	white-space: nowrap;
}
.chat__header-icons{
	height: 20px;
	margin: 0 5px 0 5px;
}
.site{
	display: flex;
}
.chat__masage{
	background: #f8fafd;
	height: auto;
	margin: 0 auto;
	flex-grow: 1;
	width: 100%;
}
.chat__masage-content{
	padding: 20px;
}
.blue__message-img{
	height: 25px;
}
.blue__message-name{
	margin: 0;
	padding: 5px 0 0 15px;
}
.blue__message-time{
	margin: 0;
	padding: 5px 0 0 45px;
	color: grey;
}
.blue__message-content{
	display: flex;
	margin-top: 20px;
}
.blue__message-text{
	background: #5965DB;
	padding: 10px;
	max-width: 70%;
	display: inline-block;
    color: white;
    border-radius: 7px;
    margin-top: 5px;

   
}
.input__red::-webkit-input-placeholder {
		color: red;
}

.grey__message-text{
	display: inline-block;
	background: #EAEFF4;
	border-radius: 7px;
	padding: 10px;
	margin-left: auto;
	max-width: 70%;
	align-self: flex-end;
}

.grey__message-time{
	color: grey;
	display: flex;
	justify-content: flex-end;
	margin: 15px 20px 0 0;

}
.chat__input_zone{
	display: flex;
	margin: 0 auto;
	padding: 20px 0 0 35px;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
}
.chat__input_zone-userpics{
	padding: 10px;
}
.chat__input_zone-input{
	width: 100%;
	border: 0; 
}
.chat__input_zone-icons{
	display: flex;
	align-items: center;
}
.dialogues{
	display: none;

}
.desktop{
	display: none;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
}
.search{
	flex-basis: 100%;
}

@media (min-width: 768px){
	.chat{
		width: 750px;
		margin-left: 0; 
	}
	.chat__header-colown{
		flex-direction: row;
		flex-grow: 1;

	}
	.chat__header{
		justify-content: space-between;


	}
	.chat__header-content{
		flex-grow: 1;
	}
	.chat__header-icons{
		display: block;
		height: auto;
	}
	.chat__header-menu{
		display: flex;
		align-items: center;
	}
	.dialogues{
	    width: 340px;
	    display: block;
	}
	.dialogues__content{
		padding: 10px;
		padding-top: 0;
	}
	.site{
	display: flex;
	flex-direction: row-reverse;
	}
	.dialogues__header{
		display: flex;
		justify-content: space-around;]
		border: 1px solid #EAEDF3;
	}
	.header__new_massage{
		padding: 5px;
		background: #ebedfb;
		color: #5965db;
		border-radius: 7px;
		height: 16px;
		margin-top: 5px;
	}
	.header__new_massage-text{
		margin: 0;
	}
	.dialogues__header-h5{
		margin: 10px 0 0 0;
	}
	.dialog__avatar2{
		position: relative;
		right: 23px;
		top: 15px;
	}
	.dialogues__chats-diolog{
		display: flex;
		padding-top: 27px;
		border-bottom: 1px solid #EAEDF3;
		padding-bottom: 16px;
		border-left: 4px solid transparent;
		padding-left: 15px;
	}
	.dialogues__chats-diolog--active{
		border-left: 4px solid #5965DB;
		background: #F6F9FF;
	}
	.dialog__text-massage{
		max-width: 190px;
		margin: 4px 0 0 0;
		font-size: 15px;
	}
	.dialog__text-header{
		margin: 0;
		font-size: 15px;
	}
	.dialog__time{
		font-size: 12px;
		margin: 0 6px 0 0;
		color: grey;
	}
	.dialog__ball{
		width: 15px;
		height: 15px;
		background: #E62D2D;
		border-radius: 50%;
		font-size: 9px;
		margin: 22px 0 0 17px;
		text-align: center;
		color: white;
	}
	.dialog__ball-text{
		padding: 1px 0 0 0;

	}
	.dialog__stick{
		position: relative;
		right: 20px;
	}
	.dialogues__chats-diolog2{
		display: flex;
		margin-top: 15px;

	}
	.dialog2__background{
		background: #F6F9FF;
		height: 100px;
		display: flex;
		align-items: center;
		margin-left:  -20px;
		padding-left: 20px;
	}
	.dialog5__avatar1{
		margin-right: 40px;
	}
	.dialog__check_marks{
		margin: 22px 0 0 17px;
	}
	.tablet-version{
		margin: 0 auto;
		display: flex;
		flex-direction: row-reverse;
		margin-left: 0px;
	}
	.dialog2__stick1{
		position: relative;
		right: 20px;
		top: 4px;
	}
	.dialog2__stick2{
		position: relative;
		right: 20px;
		bottom: 15px;
	}
	.chat__header-people{
		color: pink;
	}
	.search{
		border-bottom: 1px solid #E3E6EE;
		padding-left: 15px;
    	width: 806px;

	}
	.search__input{
		padding: 25px 0 25px 25px;
		background-image:url(img/search__icon.png); 
    	background-repeat: no-repeat; 
    	background-position: 2px 50%;


	}
	.search__input:active,.search__input:focus{
       outline: none;
	}

}
@media (min-width: 1440px){
	.desktop{
		background: #1E2933;
		color: white;
		font-family: 'Roboto', sans-serif;
		display: block;
	}
	
	.desktop__header{
		padding: 5px 20px 0 20px;
		border-bottom: 1px solid #323E4A;
		font-size: 14px;

	}
	.desktop__user{
		display: flex;
		border-bottom: 1px solid #323E4A;
	}
	.user__avatar{
        padding: 25px 15px 25px 25px;
	}
	.user__name-justin{
		margin: 0;
		font-size: 16px;
	}
	.user__work{
		margin: 0 0 0 2px;
		color: #9BA4B0;
		font-size: 12px;
	}
	.user__name{
		margin-top: 25px;
	}
	.menu__list-dashboard{
		display: flex;
	}
	.dashboard-icon{
		padding: 10px;
	}
	.dashboard-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.menu__list-h4{
		font-size: 12px;
		color: #9BA4B0;
		padding-left: 10px;
	}
	.menu__list-users{
		display: flex;
	}
	.users-icon{
		padding: 10px;
	}
	.users-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.menu__list-documents{
		display: flex;
	}
	.desktop__menu-cont{
		padding: 10px;
	}
	.documents-icon{
		padding: 10px;
	}
	.documents-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.menu__list-conversations{
		display: flex;
	}
	.conversations-icon{
		padding: 10px;
	}
	.conversations-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.menu__list-conversations{
		background: #5965DB;
		border-radius: 5px;
	}
	.conversations__ball{
		width: 15px;
		height: 15px;
		background: white;
		border-radius: 50%;
		font-size: 9px;
		text-align: center;
		color: black;
		margin: 10px 15px 0 32px;
	}
	.conversations__ball-text{
		margin-top: 2px;
	}
	.menu__list-projects{
		display: flex;
	}
	.projects-icon{
		padding: 10px;
	}
	.projects-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.menu__list-schedule{
		display: flex;
	}
	.schedule-icon{
		padding: 10px;
	}
	.schedule-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.menu__list-payments{
		display: flex;
	}
	.payments-icon{
		padding: 10px;
	}
	.payments-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.support__list-h4{
		font-size: 12px;
		color: #9BA4B0;
		padding-left: 10px;
	}
	.support__list-help{
		display: flex;
	}
	.help-icon{
		padding: 10px;
	}
	.help-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.support__list-us{
		display: flex;
	}
	.us-icon{
		padding: 10px;
	}
	.us-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.settings__list-h4{
		font-size: 12px;
		color: #9BA4B0;
		padding-left: 10px;
	}
	.settings__list-account{
		display: flex;
	}
	.account-icon{
		padding: 10px;
	}
	.account-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.settings__list-dark{
		display: flex;
	}
	.dark-icon{
		padding: 10px;
	}
	.dark-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.settings__list-exit{
		display: flex;
	}
	.exit-icon{
		padding: 10px;
	}
	.exit-text{
		margin: 10px 0 0 0;
		font-size: 14px;
	}
	.desktop__futer-h5{
		font-size: 12px;
		margin: 0;
	}
	.desktop__futer-text{
		max-width: 201px;
		font-size: 12px;
		color: #9BA4B0;
	}
	.desktop__futer{
		padding: 10px 0 0 10px;
		border-top: 2px solid #323E4A;
		margin-top: 80px;

	}


	
}

